.footer {
    text-align: center;
    padding: 2em 1em;
    background-color: #303841;
    color: #fff;

    .list-social {
        display: flex;
        justify-content: center;
        gap: 3em;
        list-style: none;
        margin-top: 4em;

        li {
            transition: transform 0.3s ease-out;
            cursor: pointer;
        }

        li:hover {
            transform: translateY(-10px);
        }
    }

    .title-footer {
        font-size: 3em;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .list-social {
        flex-direction: column;
    }
}