.hero {
    background-color: #333638;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    .title-hero {
        color: #fff;
        font-size: clamp(1rem, 10vw, 6em);
    }

    .sub-title {
        color: #b73042;
        font-weight: 200;
        font-size: clamp(0.5rem, 5vw, 2em);
        font-style: italic;
    }
}