.navbar {
    background-color: #be3144;
    padding: 0em 2em;
    border-bottom: 3px solid #222325;
    position: fixed;
    width: 100%;

    .nav-list {
        list-style: none;
        display: flex;
        justify-content: end;
        gap: 1em;
    }


    .nav-link {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1rem;

        &:hover {
            background-color: #45567d;
            height: 100%;
        }
    }
}