* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}