@media only screen and (max-width: 768px) {
    .feature {
        padding: 0 8px;

        .grid {
            display: grid;
            grid-template-columns: 1fr;
            margin-bottom: 1.3em;
            margin-top: 3em;
            align-items: center;
            text-align: center;

            .icon {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    .feature {
        padding: 0 8px;
    
        .grid {
            display: grid;
            grid-template-columns: 90px 1fr;
            margin-bottom: 1.3em;
            margin-top: 3em;
            align-items: center;
    
            .icon {
                font-size: 3em;
                color: darkorange;
            }
        }
    }
}