@media only screen and (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
    
        .logo {
            display: block;
            width: 100%;
        }

        .nav-list {
            display: flex;
            margin-top: 1em;
            gap: 2em;
            align-items: center;
            flex-wrap: wrap;

            .nav-link {
                color: #000;
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 8px 12px;
        margin-bottom: 1.2em;
    
        .logo {
            max-width: 300px;
            display: block;
        }
    
        .nav-list {
            display: flex;
            margin-top: 1em;
            gap: 2em;
            align-items: center;
            flex-wrap: wrap;
    
            .nav-link {
                color: #000;
            }
        }
    }
}